body {
    padding: 5px;
}

.sectionDivider {
    background-image:url('/images/testFrontEnd_07.jpg');
    width: 959px;
    height: 9px;
}

.categorySection {
}

.productItem {
    padding: 10px;
    float: left;
}

.productItemBottomDivider {
    background-image:url('/images/testFrontEnd_14.jpg');
    width: 309px;
    height: 2px;
}

.pager {
    margin: 0 0 0 -25px;
    padding: 0;
    background-image:url('/images/testFrontEnd_24.jpg');
    width: 1047px;
    height: 120px;
}

.comments {
    padding-top: 15px;
    margin-left: 360px !important;
}

.commentsHeading {
    color: rgb(24, 118, 191);
    font-weight: bold;
}

.fancyboxBackground .fancybox-skin {
    padding: 50px;
}

fieldset {
    padding: 10px;
}

label {
    width: 100%;
    font-weight: normal;
}

input {
    width: 300px;
}

textarea {
    width: 300px;
    height: 100px;
}

button {
    margin-left: 10px;
}

.footer {
    background-image:url('/images/testFrontEnd_01.jpg');
    width: 1047px;
    height: 113px;
}
