body {
    padding: 5px;
}

.sectionDivider {
    background-image:url('/images/testFrontEnd_07.jpg');
    width: 959px;
    height: 9px;
}

.categorySection {
}

.productItem {
    padding: 10px;
    float: left;
}

.productItemBottomDivider {
    background-image:url('/images/testFrontEnd_14.jpg');
    width: 309px;
    height: 2px;
}

.pager {
    margin: 0 0 0 -25px;
    padding: 0;
    background-image:url('/images/testFrontEnd_24.jpg');
    width: 1047px;
    height: 120px;
}

#commentsContainer {
    padding-top: 15px;
    margin-left: 360px !important;
}

#comments {
}

.commentsHeading {
    color: rgb(24, 118, 191);
    font-weight: bold;
}

.comment {
    width: 600px;
    padding: 10px;
    background-color: rgb(235, 236, 241);
    margin-bottom: 10px;
}

.commentButton {
    margin-bottom: 10px;
}

.commentText {
    font-size: 0.9em;
}

.commentDetail {
    font-weight: bold;
    margin-top: 5px;
    font-size: 0.6em;
}

.commentReply {
    margin-top: 10px;
}

.fancyboxBackground .fancybox-skin {
    padding: 50px;
}

fieldset {
    padding: 10px;
}

label {
    width: 100%;
    font-weight: normal;
}

input {
    width: 300px;
}

textarea {
    width: 300px;
    height: 100px;
}

button {
    margin-left: 10px;
}

.footer {
    background-image:url('/images/testFrontEnd_01.jpg');
    width: 1047px;
    height: 113px;
}

.greyHeader {
    color: #c0c0c0;
}

#moderation {
    text-align: center;
}

.formattedTable {
    border:1px solid #C0C0C0;
}

.formattedTableSolid {
    background-color:#EFEFEA;
}

.formattedTableHeader th {
    background-color:#C0C0C0 !important;
}
